body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Dancing Script', cursive,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 238, 204);
  color: #494747;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




#mainTitle {
  font-weight: bold;
  letter-spacing: .08em;
  font-family: "Dancing Script", cursive;
  font-size: 4.5em;
  color: #494747;

}
#mainTitle2 {
  font-weight: bold;
  letter-spacing: .08em;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  color: #494747;

}

#smaller {
  font-size: 1.1em;
}

#score {
  font-weight: bold;
  color: #7ecb5a;
  font-size: 1.5em;
}
#over {
  font-weight: bold;
  color: rgb(180, 4, 4);
  font-size: 1.5em;
}
#under {
  font-weight: bold;
  color: #7ecb5a;
  font-size: 1.5em;
}
#even {
  font-weight: bold;
  font-size: 1.2em;
}
.danger {
  background-color: rgb(208, 198, 198);
  margin-bottom: 2em;
  text-align: center;
  margin: auto;
  color: black;
    font-size: 1.5em;
    border-color: #3c3b3b;
}
.danger1 {
  background-color: #7ecb5a;
    font-size: 1.5em;
    border-color: #3c3b3b;
}
.danger2 {
  background-color: rgb(30, 145, 201);
  border-color: black;
    font-size: 1.5em;
    border-color: #3c3b3b;
}
.danger3 {
  background-color: rgb(221, 224, 71);
  border-color: black;
    font-size: 1.5em;
    border-color: #3c3b3b;
}
.danger4 {
  background-color: rgb(237, 88, 68);
  border-color: black;
    font-size: 1.5em;
    border-color: #3c3b3b;
}

.stats {
  border-style: solid;
  border-color: black;
  margin-bottom: .5em;
  background-color: rgb(208, 198, 198);
}

.boldh1 {
font-weight: bold;
}

.footer {
  margin-top: 4em;
  font-size: 1.25em;
  text-align: center;
}


.cursor {
  cursor: text;
  }

hr {
 border: 1px solid #3c3b3b;
 width: 50%;
}
